@font-face {
    font-family: 'Lexend';
    src: url(font-lexend/Lexend-VariableFont_wght.ttf);
}

:root{
    --main-dark: #213555;
    --secondary-dark:#497174;
    --terciary-dark:#EB6440;
    --main-light:#EFF5F5;
    --secondary-light: #D6E4E5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /*footer support*/
    position: relative;
    min-height: 100%;
}

body {
    background-color: var(--main-light);
    color: var(--main-dark);
    font-size: 18px;
    font-family: 'Lexend';
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*header*/
h1 {
    padding-top: 16px;
}

/*calculator*/
.calculator {
    background-color: var(--secondary-light);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    height: 430px;
    padding: 20px;
    border-radius: 5%;
}

/**screen**/
.screen {
    width: 100%;
    text-align: end;
}

.previous-operation-screen {
    padding-bottom: 8px;
    height: 32px;
}

.current-operation-screen {
    padding-bottom: 16px;
    font-size: 22px;
    height: 55px;
}

/**buttons**/
.buttons {
    width: 100%;
}

button {
    cursor: pointer;
    font-family: 'Lexend';
    background-color: inherit;
    border: 1px solid var(--main-light);
    background-color: var(--main-light);
    font-size: 22px;
    padding: 8px;
    border-radius: 5%;
}
    
button:hover {
    background-color: var(--terciary-dark);
    color: var(--main-light);
    border-color: var(--main-light);
}

/***rectangle buttons***/
.rectangle-buttons {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.rectangle-buttons button {
    width: 49%;
}

/***square buttons***/
.square-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 8px;
}

.square-buttons button {
    width: 23%;
    height: 25%;
}

/*footer*/
footer {
    padding-bottom: 16px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: underline var(--main-dark) 2px;
}
